version: '3.9'

services:
  api-gateway:
    build: ./api-gateway
    ports: 
      - "8080:8080"
    depends_on:
      - auth-service

  auth-service:
    build: ./authentication_service
    ports: 
      - "8081:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
    depends_on:
      - authentication_service_db

  authentication_service_db:
    image: postgres:15
    environment:
      POSTGRES_DB: authentication_service_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
    ports:
      - "5433:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data: