version: '3.9'

services:
  api-gateway:
    build: ./api-gateway
    ports: 
      - "8080:8080"
    depends_on:
      - auth-service

  auth-service:
    build: ./authentication_service
    ports: 
      - "8081:8080"
    environment:
      SPRING_PROFILES_ACTIVE: prod
      SPRING_RABBITMQ_HOST: rabbitmq
      SPRING_RABBITMQ_PORT: 5672
    depends_on:
      - authentication_service_db
      - rabbitmq

  notification_service:
    build: ./notification_service
    ports: 
      - "8082:8080"
    environment:
      SPRING_RABBITMQ_HOST: rabbitmq
      SPRING_RABBITMQ_PORT: 5672
    depends_on:
      - rabbitmq
    env_file:
      - .env

  restaurant_service:
    build: ./restaurant_service
    ports:
      - "8083:8080"
    environment:
      SPRING_PROFILES_ACTIVE: prod
    depends_on:
      - restaurant_service_db

  authentication_service_db:
    image: postgres:15
    environment:
      POSTGRES_DB: authentication_service_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
    ports:
      - "5433:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  restaurant_service_db:
    image: postgres:15
    environment:
      POSTGRES_DB: restaurant_service_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
    ports:
      - "5434:5432"
    volumes:
      - restaurant_db_data:/var/lib/postgresql/data
  
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

volumes:
  db_data:
  restaurant_db_data:
