#navbar {
    width: 100%;
    height: 8vh;
    background-color: #d52d2d;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.center {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex: 1;
}

.right {
    display: flex;
    align-items: center;
}

#login-button {
    text-decoration: none;
    font-size: 30px;
    margin-right: 3vh;
    padding: 7px;
    color: black;
    background-color: rgb(247, 180, 12);
    border-radius: 5px;
    border: 1px solid black;
    color: white;
    text-shadow: 
     -1px -1px 0 black,
      1px -1px 0 black,
     -1px  1px 0 black,
      1px  1px 0 black;
}

#login-button:hover {
    background-color: rgb(226, 165, 10);
    box-shadow: 0 0 5px 0 rgb(226, 165, 10);
}