#navbar {
    width: 100%;
    height: 8vh;
    background-color: #d52d2d;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.center {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex: 1;
}

.right {
    display: flex;
    align-items: center;
}

#login-button {
    text-decoration: none;
    font-size: 30px;
    margin-right: 3vh;
    padding: 7px;
    color: black;
    background-color: rgb(247, 180, 12);
    border-radius: 5px;
    border: 1px solid black;
    color: white;
    text-shadow: 
     -1px -1px 0 black,
      1px -1px 0 black,
     -1px  1px 0 black,
      1px  1px 0 black;
}

#login-button:hover {
    background-color: rgb(226, 165, 10);
    box-shadow: 0 0 5px 0 rgb(226, 165, 10);
}

#cart-logo-container {
    position: relative;
    margin-right: 1em;
    cursor: pointer;
}

#cart-badge{
    position: absolute;
    top: -2px;
    right: -5px;
    border-radius: 50%;
    background-color: rgb(247, 180, 12);;
    width: 3vh;
    height: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.profile-wrapper {
    position: relative;
    margin-right: 2em;
}

.profile-icon {
    cursor: pointer;
    color: white;
    font-size: 1.8em;
}

.profile-dropdown {
    position: absolute;
    top: 140%;
    right: 0;
    background: white;
    min-width: 180px;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    overflow: hidden;

    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.25s ease;
}

.profile-dropdown.open {
    max-height: 300px; 
    opacity: 1;
    transform: translateY(0);
}

.profile-dropdown div {
    padding: 12px 16px;
    cursor: pointer;
    transition: background 0.2s;
}

.profile-dropdown div:hover {
    background-color: #f2f2f2;
}

.tabs {
    color: white;
    cursor: pointer;
    border-radius: 5%;
    font-size: 20px;
    padding: 1%
}

.tabs:hover {
    background-color: #ee5656;
}

.car-icon{
    font-size: 2em;
    margin-right: 0.5em;
    cursor: pointer;
}