html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: black;
  padding: 12px 18px;
  border-radius: 6px;
  font-size: 14px;
  z-index: 9999;
  animation: fadeInOut 4s ease-in-out;
}

.fail-toast {
  background: rgb(255, 116, 116);
}

.success-toast {
  background: rgb(132, 255, 132);
}

@keyframes fadeInOut {
  0% { opacity: 0; transform: translateY(10px); }
  10% { opacity: 1; transform: translateY(0); }
  90% { opacity: 1; }
  100% { opacity: 0; transform: translateY(10px); }
}
